<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Yoda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #scroll padding>
  <!-- message content -->

  <style>
    .textToRight{text-align: right;}
    .textEventColor{
      position:relative;
      padding:0px 20px;
      color:white; 
      background: orange;
      border-radius:25px;
      float: right;
    }
  </style>

  <div>
    <p class="textToRight">Me, 5/1/18, 3h ago</p>
    <div class="from-me">
      <p>Hey there! What's up?</p>
    </div>
    <div class="clear"></div>
  </div>

  <div>
    <p>Yoda, 5/1/18, 3h ago</p>
    <div class="from-them">
      <p>Checking out iOS11 you know..</p>
    </div>
    <div class="clear"></div>
  </div>

  <div>
    <p class="textToRight">Me, 5/1/18, 2h ago</p>
    <div class="from-me">
      <p>Check out this bubble!</p>
    </div>
    <div class="clear"></div>
  </div>

  <div>
    <p>Yoda, 5/1/18, 2h ago</p>
    <div class="from-them">
      <p>It's pretty cool!</p>
    </div>
    <div class="clear"></div>
  </div>

  <div>
    <p class="textToRight">Me, 5/1/18, 1h ago</p>
    <div class="from-me">
      <p>Yeah it's pure CSS &amp; HTML</p>
    </div>
    <div class="clear"></div>
  </div>

  <div>
    <p>Yoda, 5/1/18, 1h ago</p>
    <div class="from-them">
      <p>Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div *ngFor="let text of listOfTexts">
    <p class="textToRight">Me, 5/1/18, 1m ago</p>
    <div class="from-me">
      <p>{{text}}</p>
    </div>
    <div class="clear"></div>
  </div>

  <!-- ai event -->
  <div *ngFor="let event of listOfEvents">
    <p class="textToRight">Event, 5/1/18, 1m ago</p>
    <div class="textEventColor">
      <p><b>Hello, {{person?.firstName}} {{person?.lastName}}, based on the schedule of you and your peers
        I found an open spot on <u>Saturday at 9pm</u>, would you like me to confirm this?</b></p>
      <p>Event: {{event}}</p>
      <p>Number of confirm: 0</p>
      <!-- button for event -->
      <style>
        .eventColor{color: white !important;}
        .centerContent{text-align: center; margin: auto; margin: auto;}
      </style>
      <div class="centerContent">
        <ion-col>
          <button ion-button icon-left clear small class="eventColor">Accept</button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small class="eventColor">Decline</button>
        </ion-col>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <style>
    .iconSize{font-size: 250%; padding-top: 10px;padding-left: 10px;}
  </style>
  <!-- for the input -->
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-icon class="iconSize vCenter"name="add-circle" (click)="presentActionSheet()"></ion-icon>
      <ion-col col-7> 
        <ion-item>
          <ion-input type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <!-- (click)="sendMessage()" [disabled]="message === ''" -->
        <button ion-button clear (click)="sendMessage()">SEND</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
