page-contact {
    .centerContent{
        width:100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        position:fixed; 
        bottom: 70px
    }
    .blank{
        padding-top: 150px;
    }
}
